html, body {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

body {
	background: #EEEEEE;
	color: #333333;
	-webkit-text-size-adjust:none;
}


html {
    font-size: 10px
}
@media screen and (min-width:480px) and (max-width:639px) {
    html {
        font-size: 15px
    }
}
@media screen and (min-width:640px) and (max-width:719px) {
    html {
        font-size: 20px
    }
}
@media screen and (min-width:720px) and (max-width:749px) {
    html {
        font-size: 22.5px
    }
}

@media screen and (min-width:750px) and (max-width:799px) {
    html {
        font-size: 23.5px
    }
}
@media screen and (min-width:800px) and (max-width:959px) {
    html {
        font-size: 25px
    }
}
@media screen and (min-width:960px) and (max-width:1079px) {
    html {
        font-size: 30px
    }
}
@media screen and (min-width:1080px) {
    html {
        font-size: 32px
    }
}

.br {
	margin-bottom: 1rem;
}

.swiper {
	/*max-height: 15rem;*/
	background: #FFFFFF;
}
.swiper-container .swiper-slide img {
	width: 100%;
	/*height: 14rem;*/
}
.swiper-pagination {
	position: relative;
	top: -2rem;
}
.swiper-pagination-bullet {
	width: 0.7rem;
	height: 0.7rem;
	margin: 0 0.2rem;
}
.top-bar {
	position: absolute;
	top: 0;
	z-index: 99;
	height: 4rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}
.top-bar a {
	color: #CCC;
	text-decoration: none;
	font-size: 1rem;
}
.top-bar .top-bar-icon {
	padding: 0.7rem;
	text-align: center;
}
.search-input {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	/*padding-left: 10rem;*/
	background: rgba(0,0,0,.5);
	border: 1px solid #f4f4f4;
	height: 3rem;
	margin: 1rem 0;
	border-radius:5px ;
	
}
.search-group {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.search-group .search-group-icon  {
	padding: 0.9rem 1rem;
	color: #f1f1f1;
}
.search-group .search-group-item {
	/*height: 100%;*/
	height: 3rem;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;	
}
.search-group input {
	background: transparent;
	width: 100%;
	height: 100%;
	border: none;
}

.grid {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background: #FFFFFF;
}
.grid .grid-item {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.block-title {
	background: #FFFFFF;
	padding: 0.7rem 1.2rem 0.2rem;
	font-size: 1.5rem;
}
.block-title a {
	text-decoration: none;
	color: #E66B1A;
}
.block-title .grid-item {
	justify-content: space-between;
}
.block-title .grid-item:last-child{
	text-align: right;
}

.mid-nav .mid-nav-item {
	padding: 0 1rem .8rem;
	text-align: center;
} 
.mid-nav .mid-nav-item a {
	text-decoration: none;
	color: #333333;
	display: block;
	font-size: 1.4rem;
}
.mid-nav .mid-nav-item a img {
	width: 60%;
	height: auto;
}

.local-activitise {
	background: #FFFFFF;
	padding: 0.8rem;
}
.local-activitise .activity-item {
	text-align: center;
	padding: 0 0.4rem;
}
.local-activitise .activity-item a {
	text-decoration: none;
	color: #333333;
	display: block;
	font-size: 1.4rem;
}
.local-activitise .activity-item a img {
	width: 100%;
	border-radius: 5px;
}
.local-activitise .activity-item a div {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;  
    /* 用 white-space:nowrap; 不知什么原因没有效果 
     * 多行文本溢出解决办法：http://www.css88.com/archives/5206
     */
    -webkit-box-orient: vertical;
}
.bottom-bar {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
}
.bottom-bar .grid-item {
	text-align: center;
	padding: 0.5rem;
	font-size: 1.4rem;
}
.bottom-bar .grid-item a {
	display: block;
	text-decoration: none;
	color: #E66B1A;
}
