html, body {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

body {
	background: #EEEEEE;
}

html {
    font-size: 10px
}
@media screen and (min-width:480px) and (max-width:639px) {
    html {
        font-size: 15px
    }
}
@media screen and (min-width:640px) and (max-width:719px) {
    html {
        font-size: 20px
    }
}
@media screen and (min-width:720px) and (max-width:749px) {
    html {
        font-size: 22.5px
    }
}

@media screen and (min-width:750px) and (max-width:799px) {
    html {
        font-size: 23.5px
    }
}
@media screen and (min-width:800px) and (max-width:959px) {
    html {
        font-size: 25px
    }
}
@media screen and (min-width:960px) and (max-width:1079px) {
    html {
        font-size: 30px
    }
}
@media screen and (min-width:1080px) {
    html {
        font-size: 32px
    }
}


.swiper {
	max-height: 15rem;
	background: #FFFFFF;
}
.swiper-container .swiper-slide img {
	width: 100%;
	height: 14rem;
}
.swiper-pagination {
	position: relative;
	top: -2rem;
}
.swiper-pagination-bullet {
	width: 0.7rem;
	height: 0.7rem;
	margin: 0 0.2rem;
}
.top-bar {
	position: absolute;
	top: 0;
	z-index: 99;
	height: 4rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}
.top-bar a {
	color: #CCC;
	text-decoration: none;
}
.top-bar .top-bar-icon {
	padding: 0.7rem;
	text-align: center;
}
.search-input {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-left: 10rem;
	background: rgba(0,0,0,.5);
	border: 1px solid #f4f4f4;
	height: 2.5rem;
	margin: .5rem 0;
}

.mid-nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background: #FFFFFF;
}
.mid-nav .mid-nav-item {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 0 1rem .8rem;
	text-align: center;
}
.mid-nav .mid-nav-item a {
	text-decoration: none;
	color: #333333;
	display: block;
}
.mid-nav .mid-nav-item a img {
	width: 60%;
	height: auto;
	
}
.local-activitise {
	background: #FFFFFF;
	padding: 0.8rem;
	margin-top: 1rem;
}
.local-activitise .head {
	/*line-height: 1.5rem;*/
	/*height: 1.5rem;*/
	font-size: 1.5rem;
	padding: 0.5rem 0 1rem;
}
.local-activitise .body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
}
.local-activitise .body > div {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: center;
	padding-right: 0.5rem;
}
.local-activitise .body > div:nth-child(3) {
	padding-right: 0;
}
.local-activitise .body > div img {
	width: 100%;
}
